<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="utf-8">
   <title>ISRA Sign Up</title>
   <link rel="stylesheet" href="../../public/css/site.css">

   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <!-- jQuery library -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

   <!-- Latest compiled JavaScript -->
   <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   <script src="//geodata.solutions/includes/countrystatecity.js"></script>
   <script src="../../public/js/script.js"></script>
</head>

<body>
   {{{body}}}

</body>

</html>