<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{{title}}}</title>
    <link rel="stylesheet" href="../../public/css/dashboard.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
     <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.0/jquery.matchHeight-min.js"><script>
    <script src="../../public/js/script.js"></script>

</head>

<body>
    <div class="sidebar">
        <nav class="sidebar-nav">
            <ul class="nav">
                <li class="nav-title"><img alt="stevens-logo" class="logo"
                        src="../../public/images/Stevens-SSE-new-stacked.png"></li>
                <li class="nav-item ">
                    <a class="active" href="/../dashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a  href="/../user">User Module</a>
                </li>
                <li class="nav-item">
                    <a href="/../faculty">Faculty Module</a>
                </li>
                <li class="nav-item">
                    <a href="/../ISR">ISR Module</a>
                </li>
                <li class="nav-item">
                    <a href="#about">Group Module</a>
                </li>
                <li class="nav-item">
                    <a href="#about">Entites Module</a>
                </li>
                <li class="nav-item">
                    <a href="#about">Permission Module</a>
                </li>
                <li class="nav-item">
                    <a href="#">Logout</a>
                </li>
            </ul>
        </nav>
    </div>
    {{{body}}}
    
    <script src="../../public/js/jquery-ui.min.js"></script>
    <script src="../../public/js/script.js"></script>

   
  
</body>

</html>